# pyproject.toml
[project]
name = "fake-review-detector"
version = "0.1.0"

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
include = ["config*", "pipelines*", "api*", "model*", "monitoring*"]
